/*=================================================================================*/
/*                             ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ                               */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

/*=================================================================================*/
/*                                   СТИЛИЗАЦИЯ                                    */
/*VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV*/

.body_block_users_cl {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.table_users_cl {
    border-collapse: collapse;
}

.table_users_cl > thead > tr > th, .table_users_cl > thead > tr > td {
    border: solid 2px black;
}

.table_users_cl > thead > tr > th:nth-child(1) {width: 30px;}
.table_users_cl > thead > tr > th:nth-child(2) {width: 120px;}
.table_users_cl > thead > tr > th:nth-child(3) {width: 250px;}
.table_users_cl > thead > tr > th:nth-child(4) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(5) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(6) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(7) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(8) {width: 120px;}
.table_users_cl > thead > tr > th:nth-child(9) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(10) {width: 150px;}
.table_users_cl > thead > tr > th:nth-child(11) {width: 150px;}