<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Название сайта</title>
    <link rel="stylesheet" href="/static/main_css.css">
    <link rel="icon" href="" type="image/x-icon">
</head>
<body>

    <div class="_0_media_check_cl" style="display: none;">
        <!--Указание размеров экрана-->
        <style>
            ._0_media_check_cl {
                width: 150px;
                height: 50px;
                position: fixed;
                top: 50px;
                left: 50px;
                background-color: aqua;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        </style>
        <div><span>Ширина-</span><span id="_0_media_width_id">0</span>px</div>
        <div><span>Высота-</span><span id="_0_media_length_id">0</span>px</div>
        <script>
            // Указание размеров экрана;
            document.getElementById('_0_media_width_id').innerText = window.innerWidth;
            document.getElementById('_0_media_length_id').innerText = window.innerHeight;
            window.addEventListener('resize', _ => {
                console.log(123);
                document.getElementById('_0_media_width_id').innerText = window.innerWidth;
                document.getElementById('_0_media_length_id').innerText = window.innerHeight;
            });
        </script>
    </div>

    <div class="head_website_stationary_cl" id="head_website_stationary_id">
        <!--Стационарный-->

        <div class="catalog_cl" id="catalog_id">
            <!--каталог-->
            <div class="main_text_cl">Народные сказки Республики Саха (Якутия)</div>
            <a href="/audio_catalog"><div><span>Список сказок</span></div></a>
            <a href="/users_catalog"><div><span>Список пользователей</span></div></a>
        </div>
        <div class="burger_catalog_cl" id="burger_catalog_id">
            <!--каталог бургер-->
            <img src="static/burger_catalog.jpg" alt="Н/Ф" id="burger_catalog_buttom_id">
            <div class="burger_catalog_open_cl" id="burger_catalog_open_id">
                <!--скрытый каталог-->
                <a href="/audio_catalog"><div>Список сказок</div></a>
                <a href="/users_catalog"><div>Список пользователей</div></a>
            </div>
            <script>
                let organizations_logo = document.getElementById('organizations_logo_id');
                let burger_catalog_open = document.getElementById('burger_catalog_open_id'); // (скрытый каталог);
                let burger_catalog = document.getElementById('burger_catalog_id'); // (каталог бургер);
                burger_catalog_open.style.display = 'none'; // (скрытие скрытого каталога);
                document.getElementById('burger_catalog_buttom_id').addEventListener('click', _=>{
                    // Скрытие и показ скрытого каталога;
                    burger_catalog_open.style.top = `${burger_catalog.getBoundingClientRect().top + burger_catalog.offsetHeight}px`; // (Y-позиция каталог бургер);
                    burger_catalog_open.style.left = `${burger_catalog.getBoundingClientRect().left - (organizations_logo.offsetWidth - 125)}px`; // (X-позиция каталог бургер);
                    if (burger_catalog_open.style.display == 'none') {burger_catalog_open.style.display = 'flex'}
                    else {burger_catalog_open.style.display = 'none'};
                });
            </script>
        </div>
    </div>

    {% block main %}
    {% endblock %}

    <footer id="footer_id">
        <div class="developer_footer_cl">
            <!--иконка и ссылка сайта создателя-->
            <a href="https://haskiprog.pythonanywhere.com/">
                <span>сервер сделан:</span>
                <img src="/static/icon_haske.png" alt="Н/Ф">
                <b> HaskiProg</b>
            </a>
        </div>
    </footer>
    
    <script src="/static/main_js.js"></script>
</body>
</html>